<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!-- Connection Strings -->
	<connectionStrings>
		<add name="MyDBConnection"
			 connectionString="Data Source=RAZIN\SQLEXPRESS;Initial Catalog=UserInterface;Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

	<!-- ASP.NET Settings -->
	<system.web>
		<!-- Authentication setup -->
		<authentication mode="Forms">
			<forms loginUrl="Home.aspx" timeout="30" />
		</authentication>

		<!-- Session handling -->
		<sessionState mode="InProc" timeout="30" cookieless="false" />

		<!-- Authorization rules -->
		<authorization>
			<deny users="?" />
			<!-- Deny anonymous users -->
		</authorization>

		<!-- Custom errors -->
		<customErrors mode="Off" />

		<!-- Compilation -->
		<compilation debug="true" targetFramework="4.8" />
		<httpRuntime targetFramework="4.8" />
	</system.web>

	<!-- CodeDom Compiler Settings -->
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs"
					  type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
					  warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
		</compilers>
	</system.codedom>

	<!-- Runtime Assembly Bindings -->
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Memory" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.2.0" newVersion="4.0.2.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>

	<!-- IIS Settings -->
	<system.webServer>
		<defaultDocument>
			<files>
				<clear />
				<add value="Home.aspx" />
			</files>
		</defaultDocument>
		<directoryBrowse enabled="false" />
	</system.webServer>
</configuration>
